body section#presentation2{
    z-index: 0;
    height: 100vh;
    width: 100%;
    background-color: #4e6151;  
    display: flex;
    flex-direction: column; 
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
body section#presentation2 div.content{
    height: 40%;
    width: 70%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
body section#presentation2 div.content p{
    background-color: #f6f9fc;
    margin: auto 0;
    color: #3b322c;
    padding: 2% 4%;
    margin: 2%;
    font-size: 1vw;
    border-radius: 50px 10px 50px 10px;
    width: 65%;
    -webkit-box-shadow: 5px 5px 15px 0px #000000; 
    box-shadow: 5px  5px 15px 0px #000000;
    text-align: justify;
}
body section#presentation2 div.content p span a{
    color: #e9724c;
}
body section#presentation2 div.content p span{
    font-weight:600;
}
body section#presentation2 div.content p span a:hover{
    text-decoration: underline;
}
body section#presentation2 div.content img{
    width: 20%;
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 15px 0px #000000; 
    box-shadow: 5px 5px 15px 0px #000000;
}