*{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 0pt;
    padding: 0pt;
    list-style: none;
    text-decoration: none;
    color: black;
}
body{
    display: flex;
    flex-direction: column;
    height: 600vh;
    width: 100%;
}

body div.titre{
    height: 10%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
body div.titre p{
    font-size: 4.5em;
    font-weight: bold;
    color: #e6e6e6;
}